<section class="stn-categories">
	<div class="container">
		<p>
            <i class="fa fa-list" aria-hidden="true"></i>
		    categories
		</p>
	    <ul class="categories-list">
			<li>
                <a href="">Clothing</a>
			</li>
			<li>
			    <a href="">Electronics hot</a>
			</li>
			<li>
			    <a href="">Health & Beauty</a>
			</li>
			<li>
			    <a href="">Watches</a>
			</li>
			<li>
			    <a href="">Jewellery</a>
			</li>
			<li>
			    <a href="">Shoes</a>
			</li>
	    </ul>
	</div>
</section>

                                                                        