<footer class="footer">
	<div class="links">
		<div class="container">
			<div class="address links__item">
			    <a href=""><img src="img/logo.png" alt="MarketSupply"></a>	        	
		        <p>
		            This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.		        	
		        </p>
		        <p><i class="fa fa-map-marker"></i> 0123  Main Road, Your City, NY 123456</p>
		        <p><i class="fa fa-phone"></i> (000) 2345 - 6789</p>
		        <p><i class="fa fa-envelope"></i> info@psdfreebies.com</p>
			</div>
			<div class="information links__item">
				<h3>information</h3>
				<a href="">Our Story</a>
				<a href="">Privacy & Policy</a>
				<a href="">Terms & Conditions</a>
				<a href="">Shipping & Delivery</a>
				<a href="">Careers</a>
				<a href="">FAQs</a>
			</div>
			<div class="our-social links__item">
			    <h3>our social</h3>
				<div class="col-1">
					<a href=""><i class="fa fa-google-plus"></i>Google+</a>
					<a href=""><i class="fa fa-pinterest-p"></i>Pinterest</a>
					<a href=""><i class="fa fa-vimeo"></i>Vimeo</a>
					<a href=""><i class="fa fa-instagram"></i>Instagram</a>
				</div>
				<div class="col-2">
					<a href=""><i class="fa fa-facebook"></i>Facebook</a>
					<a href=""><i class="fa fa-twitter"></i>Twitter</a>
					<a href=""><i class="fa fa-rss"></i>RSS</a>
					<a href=""><i class="fa fa-youtube"></i>YouTube</a>
				</div>
			</div>
			<div class="opening-time links__item">
				<h3>Opening Time</h3>
				<p><i class="fa fa-clock-o"></i>Monday - Friday: 08:30 am - 09:30 pm</p>
				<p>Sat - Sun: 09:00 am - 10:00 pm</p>
			    <h3 class="payment">Payment Option</h3>
			    <a href="#!"><i class="fa fa-cc-mastercard"></i></a>
			    <a href="#!"><i class="fa fa-cc-discover"></i></a>
			    <a href="#!"><i class="fa fa-cc-amex"></i></a>
			    <a href="#!"><i class="fa fa-cc-visa"></i></a>
			    <a href="#!"><i class="fa fa-cc-stripe"></i></a>
			    <a href="#!"><i class="fa fa-cc-diners-club"></i></a>
			    <a href="#!"><i class="fa fa-cc-jcb"></i></a>
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<div class="container">
			<p>
				<a href="#!">Sitemap</a>
				<a href="#!">Searchs</a>
				<a href="#!">Searchs</a>
				<a href="#!">Advance</a>
				<a href="#!">Searchs</a>
				<a href="#!">Contact Us</a>
			</p>
			<p>
				<span>© 2016  PSDFreebies.com</span>
				<span>|</span>
				<span>All Rights Reserved.</span>     
			</p>
		</div>
	</div>
</footer>

                                             














	

    
    
    
    
    
    




 