<header class="site-header">
	<div class="container">
		<div class="main-logo">
			<a href=""><img src="img/logo.png" alt="MarketSupply"></a>
		</div>
		<div class="header-right-part">
			<ul class="site-header__nav">
				<li>
				    <a href="#!">My Account</a>
				</li>
				<li>
				    <a href="#!">Wishlist</a>
				</li>
				<li>
				    <a href="#!">My cart</a>
				</li>
				<li>
				    <a href="#!">Checkout</a>
				</li>
				<li>
				    <a href="#!">Login</a>
				</li>
			</ul><!-- .site-header__nav -->	
			<div class="total-sum">
				<span>total</span><br>
				<span>$600.00</span>
			</div>				
		    <div class="total-icon">
		    	<i class="fa fa-shopping-cart" aria-hidden="true"></i>
		    </div>					
			<form method="post" class="site-search">
				<input type="text" class="site-search-field" name="search" placeholder="Search here...">
				<button href="#!" class="site-search-btn">
				    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
	        </form><!-- .site-search -->
		</div><!-- .header-right-part -->
	</div><!-- .container --> 
</header><!-- header -->
          