<main>
	<div class="container">
	<!--=============== SIDE MENU AND BANNER-TOP ===============-->
		<div class="wrapper-banner"><!-- it balances different height between .side-menu and banner top -->
			<div class="col-left">
		        <ul class="side-menu">
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Clothing</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Electronics</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Shoes</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Watches</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Jewellery</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Health and Beauty</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Kids and Babies</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Sports</a>
		    		</li>
		    		<li>
		    		    <a href="#!"><i class="fa fa-play-circle-o" aria-hidden="true"></i>Home and Garden</a>
		    		</li>
		    	</ul><!-- .side-menu -->	
		    </div><!-- .col-left -->
			<div class="col-right banner-top">
		        <a href="#!">
		        	<img src="img/banner-top.png" alt="banner">    	
		        </a> 		    		
			</div><!-- .col-right.banner-top -->
		</div><!-- .wrapper-banner -->
		<!--================ END OF SIDE MENU AND BANNER-TOP =====================-->
		<!-- =================== JCAROUSEL 1 =================== -->
		<div class="col-left goods-block">
			<header class="goods-block__header">
			<h2 class="block-name">hot deals</h2>
			<a href="#!">
				<span class="control-jcarousel-next"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
			</a>
			<a href="#!">
				<span class="control-jcarousel-prev"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
			</a>
			</header>			
			<div class="jcarousel">
				<ul class="goods-list">
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img hot_deals"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products3"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products1"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
			    </ul><!-- .goods-list -->
			</div><!-- .jcarousel -->		
		</div><!--.col-left .goods-block.block-1-good-->
		<!-- ====================== END OF JCAROUSEL 1 ========================-->
		<!--======================= JCAROUSEL 2 ===================-->
		<div class="col-right goods-block">
			<header class="goods-block__header">
			<h2 class="block-name">new products</h2>
			<a href="#!">
				<span class="control-jcarousel2-next"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
			</a>
			<a href="#!">
				<span class="control-jcarousel2-prev"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
			</a>
			</header>			
			<div class="jcarousel2">
				<ul class="goods-list">
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products1"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products2"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products3"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products4"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img latest_products2"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
		        </ul><!-- .jcarousel2 -->
	        </div><!-- .goods-block -->
		</div><!-- .col-right block-4-goods-->
		<!-- ====================== END OF JCAROUSEL 2 ========================-->
		<!--========================JCAROUSEL 3========================-->
		<div class="col-left goods-block">
			<header class="goods-block__header">
			<h2 class="block-name">hot deals</h2>
			<a href="#!">
				<span class="control-jcarousel3-next"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
			</a>
			<a href="#!">
				<span class="control-jcarousel3-prev"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
			</a>
			</header>			
			<div class="jcarousel3">
				<ul class="goods-list">
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img latest_products2"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products3"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products1"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
			    </ul><!-- .goods-list -->
			</div><!-- .jcarousel3 -->		
		</div><!--.col-left .goods-block.block-1-good-->
        <!-- ====================== END OF JCAROUSEL 3 ======================= -->
		<!-- ====================== TWO BANNERS IN THE MIDDLE OF PAGE ======== -->
		<div class="banner-middle banner-middle--1">
			<a href="#!"></a>
		</div>	
		<div class="banner-middle banner-middle--2">
			<a href="#!"></a>
		</div>
		<!-- ========================== END OF BANNERS ======================== -->	
		<!-- ======================== NEWSLETTERS BLOCK ======================= -->
		<div class="col-left goods-block newsletters-block">
		    <header class="goods-block__header">
			    <h2 class="block-name">newsletters</h2>			
			</header>
			<p>Sign Up for Our Newsletter!</p>
			<form>
				<input type="email" name="user-email" class="user-email">
				<input type="submit" value="subscribe" class="subscribe">
			</form>
		</div>
		<!--======================== JCAROUSEL 4 ========================-->
		<div class="col-right goods-block">
			<header class="goods-block__header">
			<h2 class="block-name">latest products</h2>
			<a href="#!">
				<span class="control-jcarousel4-next"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
			</a>
			<a href="#!">
				<span class="control-jcarousel4-prev"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
			</a>
			</header>			
			<div class="jcarousel4">
				<ul class="goods-list">
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img latest_products1"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img latest_products2"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img latest_products3"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img latest_products4"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					<li class="goods-list__item">
					    <a href="#!">
					        <div class="good-img new_products4"></div>
					        <p class="good-name">Lorem ipsum dolor</p>
					    </a>    
				        <p class="price">
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span>
				    	</p>    
				    	<p class="grade">
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
		        </ul><!-- .jcarousel4 -->
	        </div><!-- .goods-block -->
		</div><!-- .col-right block-4-goods-->
		<!-- ====================== END OF JCAROUSEL 4  ========================-->
		<div class="col-left commercial"></div>
		<div class="col-right goods-block banner-bottom">
			<a href="#!"></a>
		</div>
		<!--=========================== JCAROUSEL 5 ===========================-->
		<div class="col-right goods-block">
			<header class="goods-block__header">
			<h2 class="block-name">latest products</h2>
			<a href="#!">
				<span class="control-jcarousel5-next"><i class="fa fa-caret-right" aria-hidden="true"></i></span>
			</a>
			<a href="#!">
				<span class="control-jcarousel5-prev"><i class="fa fa-caret-left" aria-hidden="true"></i></span>
			</a>
			</header>			
			<div class="jcarousel5">
				<ul class="goods-list">
					<li class="goods-list__item goods-list__item--double">
					    <a href="#!">
					        <div class="good-img latest_products1"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p> 			    	
				    	<a href="#!">
					        <div class="good-img featured_products4"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>				    					    
					</li>
					<li class="goods-list__item goods-list__item--double">
					    <a href="#!">
					        <div class="good-img featured_products2"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p> 			    	
				    	<a href="#!">
					        <div class="good-img featured_products5"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					<li class="goods-list__item goods-list__item--double">
					    <a href="#!">
					        <div class="good-img featured_products3"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p> 			    	
				    	<a href="#!">
					        <div class="good-img featured_products6"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					</li>
					<li class="goods-list__item goods-list__item--double">
					    <a href="#!">
					        <div class="good-img new_products2"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p> 			    	
				    	<a href="#!">
					        <div class="good-img latest_products2"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
					<li class="goods-list__item goods-list__item--double">
					    <a href="#!">
					        <div class="good-img latest_products3"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p> 			    	
				    	<a href="#!">
					        <div class="good-img new_products4"></div>
					    </a>    
				        <p class="info">
					        <span>Lorem ipsum dolor</span><br>
				    	    <span class="old-price">$100.00</span>
				    	    <span class="new-price">$90.00</span><br>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star" aria-hidden="true"></i>
				    		<i class="fa fa-star-o" aria-hidden="true"></i>
				    	</p>		    
					</li>
		        </ul><!-- .jcarousel5 -->
	        </div><!-- .goods-block -->
		</div><!-- .col-right block-4-goods-->
		<!-- ====================== END OF JCAROUSEL 5 ========================-->
	</div><!-- .container -->
	<div class="partners">
		<div class="container">
			<a href="#!" class="sprite-par1"></a>
			<a href="#!" class="sprite-par2"></a>
			<a href="#!" class="sprite-par3"></a>
			<a href="#!" class="sprite-par4"></a>
			<a href="#!" class="sprite-par5"></a>
			<a href="#!" class="sprite-par6"></a>
		</div>
	</div>
</main><!-- main --> 









