.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	height: 100%;
	margin: 0 auto;	
	overflow: hidden;	
}
.col-left {
	float: left;
	width: 25.38%;
}
.col-right {
	float: right;
	width: 71.28%;
}
.wrapper-banner {
	height: 100%;
	overflow: hidden;
}
.goods-block {
	padding: 23px;
	background-color: #fff;
	margin-bottom: 30px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
}
.block-4-goods {
	padding: 23px 13px;
}
	// .goods-list {
	// 	.goods-list__item {
	// 		background-size: contain;
	// 	}
	// }